header {
    display: flex;
    justify-content: space-between;
    border: solid 1px ghostwhite;
    background-color: ghostwhite;
}

body {
    background-color: ghostwhite !important;
}

.logo {
    width: 20%;
    height: 100%;
    border-radius: 2rem;
}

p {
    color: black;
    margin: 1rem;
    margin-bottom: 0rem !important;
    margin-top: 1rem !important;
}
.panier {
    display: flex;
    width: 7rem;
    height: 4rem;
    border-radius: 5rem;
    font-size: larger;
    text-align: center;
    background-color: ghostwhite;
}

i {
    color: black;
    margin-top: 1.3rem;
}

.products {
    display: flex;
    justify-content: space-between;
}

img {
    width: 100%;
    object-fit: cover;
    border-radius: 2rem 2rem 0 0;
}

.product {
    border: 0.5px solid #f2f2f2;
    border-radius: 2rem;
    width: 20rem;
}

.product-infos-title {
    color: black;
    text-align: center;
}

.product-infos-price {
    color: black;
    text-align: center;
}

a {
    text-decoration: none !important;
}

.title {
    text-align: center;
    border: 1px solid ghostwhite;
    background-color: ghostwhite;
}
footer {
    border: 1px solid ghostwhite;
    background-color: ghostwhite;
    margin-top: 1rem;
}
.footer-item {
    display: block;
    color: black;
    text-align: center;
}

.container {
    border: 0.5rem solid #f2f2f2;
    border-radius: 2rem;
    width: 22rem !important;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 1rem;
    padding: 0 !important;
}

.product-case-infos {
    margin: 1rem;
}

.error {
    display: none;
}

#quantity {
    border-radius: 2rem;
    border: solid 1px #f2f2f2;
    width: 3rem;
}

select {
    border-radius: 2rem;
    border: solid 1px #f2f2f2;
    width: 7rem;
}

.add-to-cart {
    background-color: white;
}

.modal-footer {
    display: flex;
    justify-content: space-around;
}

/*FORM*/

.cart-global {
    border: solid 1px #f2f2f2;
    border-radius: 2rem;
    background-color: white;
    width: 30rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

 .order {
    font-size: larger;
    color: black !important;
}

input {
    border-radius: 3rem;
    border: 1px solid rgba(180, 180, 189, 0.575);
}

/*CONFIRMATION*/

.confirmation {
    display: block;
    text-align: center;
    margin-bottom: 10rem;
}

.confirmation a {
    color: black !important;
}